<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
  <div class="row">
  <div class="col">

    <div class="jumbotron">
      <h1 class="display-4">Welcome to my <%= title %> page</h1>
  </div>
</div>
    </div>

    <div class="row row justify-content-md-center">
  <div class="col-6">
  <hr class="my-4">
    
<li>
<ul> <h2>My name is James Kuzhilaparambil. I am a student of software engineering technology program at Centennial college.</h2>
</ul>
</li>
  </div>

  </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




